$bg-color: #282c34;
$font-color: #fff;


.modal__layer {
  min-width: 100%;
  min-height: 100%;
  z-index: 999;
  background-color: rgba(56, 54, 54, .5);
  position: absolute;
  left: 0;
  top: 0;
}

.modal__window {
  margin: 50px auto;
  border: 1px solid #bbb;
  border-radius: 10px;
  background-color: $bg-color;
  color: $font-color;
  width: 300px;
  height: 600px;
  z-index: 1000;
}

.modal__row {
  display: flex;
  flex-direction: column;
}


@media(min-width: 768px) {
  .modal__window {
    width: 400px;
    height: 650px;
  }
  .hide {
    display: initial;
  }
  .modal__layer {
    border-radius: 15px;
  }
}